
.App {
  text-align: center;
  color: #fff;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  padding: 0 50px;
  background-color: rgb(31, 30, 30);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.square {
  background-color: rgb(31, 30, 30);
  border: 1px solid #999;
  width: 100%;
  height: 100%;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85vh;
}


.panel{
  width: 25%;
}

.left-div{
  background-color: #374549;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}





.reset-btn{
  width: 60px;
  height: 60px;
  background-color: rgb(211, 33, 33);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
}

.matrix{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 20px;
}

.game-info ul{
  list-style: none;
}

.right-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #374549;
}

.board{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 96%;
  padding: 0 5px ;
}

.board-row-div{
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  margin-top: 5px;
}



.btn{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin: 3px;
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  
}



